<div class="container">
  <form (submit)="addItem()" class="form-inline">
    <input [(ngModel)]="newTodo" name="newTodo" class="form-control" placeholder="Enter List Item" type="text">
    <button type="submit" class="btn btn-primary">Add Item</button>
  </form>

  <div class="list-area">
    <ul>
      <li *ngFor="let todo of todoList; let i=index">
        <div>
          <input [(ngModel)]="todo.completed" type="checkbox">
          <span>{{todo.newTodo}}</span>
        </div>
        <span (click)=deleteTodo(i) class="completed-btn btn btn-warning  ">Completed</span>
      </li>
    </ul>
  </div>

  <button *ngIf="todoList != ''" class="btn btn-primary" (click)="deleteSelectedTodos()">Delete Item</button>

</div>